
.mainbar {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aboutme workexperience studies habilities contact"
      "info info info info info"; 
}
.info { 
      grid-area: info;
}
.backgroundimg{
      image-resolution:inherit;
}

.mainbar .aboutme {
    grid-area: aboutme;
}
.mainbar .workexperience { 
      grid-area: workexperience; 
}
.mainbar .studies { 
      grid-area: studies; 
}
.mainbar .habilities { 
      grid-area: habilities; 
}
.mainbar .contact { 
      grid-area: contact; 
}

.box-information {
      background-color: rgba(62, 178, 255, 0.767);
      margin: 4px;
      text-align: center;
      color: aliceblue;
      font-family: 'Roboto', sans-serif;
      border-radius: 10px;
}




